<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>

  <link rel="stylesheet" href="../../../reset.css">
  <link rel="stylesheet" href="../../../style.css">
  <link rel="stylesheet" href="./header.css">

</head>

<body>
  <header class="header">
    <div class="user-info-wrapper">
      <div class="user-img-box">
        <!-- 프로필 페이지 링크 넣기 -->
        <a href="#none">
          <img src="https://cdn.pixabay.com/photo/2021/12/16/09/26/pomeranian-6874257_1280.jpg" alt="프로필 이미지">
        </a>
      </div>
      <div class="user-info">
        <!-- 프로필 페이지 링크 넣기 -->
        <a href="#none" class="user-name">홍길동</a>
        <button type="button" class="logout">로그아웃</button>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#none">
            메뉴1
          </a>
        </li>
        <li>
          <a href="#none">
            메뉴2
          </a>
        </li>
        <li>
          <a href="#none">
            일이삼사오육칠팔
          </a>
        </li>
      </ul>
    </nav>
  </header>
</body>

</html>