.announcement .announcement__search-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  /* width: 80%; */
  margin: 0 auto;
  padding-bottom: 3rem;
}
.container__flex {
  display: flex;
  padding-bottom: 0rem;
}
/* Postcard */
.postcard-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 3rem;
  width: 83%;
  margin: 0 auto;
  padding: 0, 2rem, 2rem, 2rem;

  list-style: none;
}
.postcard {
  background-color: #fff;
  border: 0.1rem solid #ddd;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.postcard:hover {
  transform: translateY(-0.5rem);
}
.postcard img {
  width: 100%; /* 일단 프레임대로 100%로함 */
  height: 20rem;
  object-fit: cover;
}
.postcard .contents {
  padding: 1.5rem;
  height: 100%;
}
.postcard .contents__title {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}
.postcard .contents__content {
  font-size: 1rem;
  color: #666;
  margin: 1rem 0;
}
.postcard .contents__information {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #999;
}
.postcard .contents__information .information-author {
  font-weight: 70rem;
}
/* 검색결과 없는 경우 */
.announcement .helper-text {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.postcard-container.no-result {
  display: block;
  padding: 20rem 0;
  text-align: center;
  background-color: var(--gray3);
  border-radius: 0.5rem;
  grid-column: 1 / -1;
}

.pagination .paging-item .btn {
  border: none;
}

.add-announcement-btn {
  position: absolute;
  right: 2%;
}

.notice-info-wrapper {
  background-color: #fff;
  width: calc(100% - 32rem);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: start;
  padding: 2% 3%;
}

.notice-info-wrapper .notice-info {
  padding: 3% 10rem;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
}

.notice-info div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notice-info .content-img {
  margin: 1rem 0 1em 0;
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.notice-info .content-img > img {
  border-radius: 10px;
  width: 100%;
}

.notice-info .content-img .btn {
  width: 17rem;
}

.notice-info .content-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notice-info .content-content {
  align-self: flex-start;
  width: 100%;
  height: 70dvh;
  font-size: 1.7rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  line-height: 1.5;
}

.notice-info .content-contents input,
.notice-info .content-contents textarea {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.7rem;
  outline: none;
}

.notice-info .content-title {
  width: 100%;
  font-size: 1rem;
}
.notice-info .content-title .title-secondary {
  display: flex;
  flex-direction: row;
}

.notice-info .content-title .title-secondary .secondary-component {
  font-size: 1.2rem;
  align-self: flex-end;
}

.notice-info
  .content-title
  .title-secondary
  .secondary-component:first-child {
  text-align: center;
}

.notice-info .content-contents p {
  outline: none;
  height: 70%;
}

.notice-info-wrapper .button-box {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.notice-info-wrapper .button-box .btn {
  align-self: center;
}

/* 뷰포트 768px 미만에서 실행될 스타일 */
@media screen and (max-width: 768px) {
  .container__flex {
    display: block;
  }
  .postcard-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
