/* btn */
.btn {
  padding: 1.2rem 2.8rem;
  border-radius: 6px;
  border: 1px solid transparent;
  font-weight: 700;
  text-align: center;
}
.btn-solid {
  background: var(--main1);
  color: var(--white1);
}
.btn:hover {
  background: #e1e8ff;
  border: 1px solid var(--main1);
  color: var(--main1);
}
.btn-outline {
  background: var(--white1);
  border: 1px solid var(--main1);
  color: var(--main1);
}
.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.btn-box .btn + .btn {
  margin-left: 0.8rem;
}