[data-page='main'] .my-info .my-info-inner {
  display: flex;
  justify-content: space-evenly;
}

[data-page='main'] .my-info .profile {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-page='main'] .my-info .profile .img-box {
  margin-bottom: 1rem;
  border-radius: 6px;
  overflow: hidden;
  font-size: 0;
}

[data-page='main'] .my-info .profile .img-box img {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
}

[data-page='main'] .my-info .profile .name {
  font-size: 2rem;
  font-weight: 500;
}

[data-page='main'] .my-info .profile p {
  margin-top: 0.6rem;
  font-size: 1.8rem;
}

[data-page='main'] .work-info {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-page='main'] .work-info .work-state {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[data-page='main'] .work-info .work-state div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-page='main'] .work-info .work-state .work-state-title {
  margin-bottom: 0.6rem;
  font-weight: 500;
}

[data-page='main'] .work-info .btn-work-state {
  margin-top: 4rem;
}

.confirm-work-popup .time-now {
  font-weight: 700;
  color: var(--main1);
}

.confirm-work-popup .text {
  margin-top: 0.6rem;
}

[data-page='main'] .main-notice .inner {
  position: relative;
}

[data-page='main'] .main-notice .swiper {
  width: 80%;
  padding: 1rem 0; /* overflow hidden으로 애니메이션 효과 가려져서 추가 */
}

/* [data-page="main"] .work-info .btn-work-state.on {
  background-color: var(--main4);
  color: var(--main1);
  border-color: var(--main1);
} */

@media screen and (max-width: 768px) {
  [data-page='main'] .work-info {
    width: auto;
    margin-left: 2rem;
  }

  [data-page='main'] .work-info .work-state {
    gap: 2rem;
  }

  [data-page='main'] .main-notice {
    padding: 0;
  }

  [data-page='main'] .main-notice .swiper {
    width: 100%;
    padding: 0 2rem;
  }

  .main-notice [class^='swiper-button-'] {
    display: none;
  }
}
