/* table-header layout */
.table-header {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .absence-portal .table-body .head li,
  .absence-portal .table-body .cell li {
    width: 33.33%;
  }
  .absence-portal .table-body .reason,
  .absence-portal .table-body .etc {
    display: none;
  }
}
