/* container 임시 클래스 적용 */
/* table 레이아웃 항목 정리 필요 -> 사번 이름 주소 (활성상태-근무중/..) 이름> 이메일 추가
*/
.img-box {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--gray1);
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.table-body .head .status,
.table-body .cell li .status {
  /* width: 20%;  */
  /* 셀별로 원하는 크기 조정하시면 됩니다! */
}
@media screen and (max-width: 768px) {
  /* 테이블 반응형 처리 필요 */
  .layer-popup .input-double .btn {
    padding: 6px;
  }
}
